static-analysis/data/*
static-analysis/trees/*
static-analysis/graphs/*
static-analysis/results/*
static-analysis/old_results/*
static-analysis/src/__pycache__
static-analysis/__pycache__
static-analysis/*.swp
static-analysis/Ukraine_trees/*
static-analysis/path_metrics.csv
static-analysis/plots/*
static-analysis/src/*.swp
UFTM-classification/results/*
UFTM-classification/data/*
UFTM-classification/resources/*
UFTM-classification/__pycache__
multilayer-network/__pycache__
multilayer-network/results/*
multilayer-network/data/*
multilayer-network/src/__pycache__
multilayer-network/*.swp
multilayer-network/src/*.swp
