static-analysis/data/*
static-analysis/trees/*
static-analysis/graphs/*
static-analysis/results/*
static-analysis/old_results/*
static-analysis/src/__pycache__
static-analysis/__pycache__
UFTM-classification/results/*
UFTM-classification/data/*
UFTM-classification/resources/*
UFTM-classification/__pycache__
